:root {
    --bgcolor:#FFFFFF;
    --themecolor:#0077FF;
  }
  

.navbar{
    height: 80px;
    padding: 15px 81px;
}

.navbar-nav{
    gap: 40px;
}

.titlepage{
    padding: 100px 81px;
}

.landingpg{
    height: 727px;
    flex-direction: row;
    gap: 10px;
    
}


    .text-content {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Adds a 20px gap between all child elements inside .text-content */
}

.aboutmesection{
    padding: 100px 81px;
}
.landingpage-btn{
    gap: 10px;
}

.profile-img img{
    height: 560px;
    width: 553px;
    border: 1px;
    border-radius: 300px;
}

.software-section{
    height: 180px;
    background-color:#F8F8F8;
    padding: 50px 81px;
}

.software-section img{
    height: 50px;
    width: 267.12px;
    
}

.progressbar{
    flex-direction: column;
    gap: 15px;
}

.title-content{
    gap: 0;
}

.nav-carousel{
    gap: 20px;
    color: var(--themecolor);
}

.servicesection{
    padding: 100px 81px;
    flex-direction: column;
    gap: 30px;
}

.box{
    flex: 0 0 auto; 
    scroll-snap-align: start;
    height: 366px;
    width: 406px;
    padding: 30px;
    background-color: var(--themecolor);
   flex-direction: column;
   gap: 10px;
   color: white;
   border-radius: 10px;
}
.boxes{
    flex: 0 0 auto; 
    scroll-snap-align: start;
    height: 366px;
    width: 406px;
    padding: 30px;
    background-color: green;
   flex-direction: column;
   gap: 10px;
   color: white;
   border-radius: 10px;

}

.boxes img{
    height: 75px;
    width: 75px;
}

.box img{
    height: 75px;
    width: 75px;
}

.slides{
    overflow-x: auto;
    scroll-snap-type: x mandatory; /* Optional for smooth snapping */
    -webkit-overflow-scrolling: touch; /* Smooth scrolling for mobile */
    gap: 20px; /* Spacing between the items */
}

.slides::-webkit-scrollbar {
    display: none; /* Hides the scrollbar for a cleaner look */
  }

.achievementsection{
    height: 678px;
    background-color: var(--themecolor);
    padding: 100px 81px;
    text-align: center;
    display: flex;
    flex-direction: column;
    
    
}

.achievementsection h1{
    font-size: 60px;
    font-weight:700;
    
    
    color: white;
}

.achievements{
    margin-top: 100px;
}
.achievebox{
    background-color: white;
    border-radius: 15px;
    padding: 30px;
    height: 171px;
    width: 297px;
    text-align: center;

}


.portfoliosection{
   
    padding: 100px 81px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.titlesection{
    display: flex;
    flex-direction: column;
    gap:15px;
    text-align: center;
}
.titlesection h2{
    color: white;
    font-size: 50px;
    font-weight:700;
}

.titlesection h3{
    font-size: 20px;
    font-weight: 600;
    color: var(--themecolor);
}


.titlesection h4{
    font-size: 20px;
    font-weight: 600;
    color: white;

}

.titlesection h1{
    font-size: 50px;
    font-weight:700;
}

.buttonnav{
    gap: 24px;
    justify-content: center;
}
.previewbox{
    flex-direction: column;
    gap: 30px;
}

.prevbox{
    height: 367px;
    width: 406px;
    border-radius: 15px;
    border: 1px;
}

.prevbox img{
    height: 367px;
    width: 406px;

}
.feedbackbox{
    display: flex;
    gap: 20px;
}

.testmonialsection{
    padding: 100px 81px;
    display: flex;
    flex-direction: column;
    gap: 30px;

}

.clientsreview{
    height: 465.9px;
    width: 297px;
    border-radius: 15px;
    border: 1px solid #DDDDDD;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
}

.clientsreview img{
    height: 150px;
    width: 150px;
}

.clientname h2{
    font-size: 16px;
    font-weight: 600;

}

.clientname h3{
    color: #666666;
    font-size: 16px;
    font-weight: 400;
}
.contactmesection{
    background-color: var(--themecolor);
    padding: 100px 81px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.contactdetails{
    height: 272px;
    width: 514px;
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    flex-direction: column;
    gap: 40px;
}

.numbers{
    line-height: 0rem;

}

.contactform{
    height: 371px;
    width: 515px;
    gap: 15px;
}
.contactbox{
    gap: 30px;
    justify-content: center;
}

.requestbtn{
    height: 54px;
    width: 198px;
    border-radius: 50px;
    background-color: #00489A;
    color: white;
    border-color: transparent;
}